.block{
  border: 2px solid black;
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 35px;
  font-weight: bold;
}
.board{
  padding: 20px;
  cursor: pointer;
}
.row{
  display: flex;
}